Repository sorushikesh/audit, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docs, ci, tests, infra, config

PR Labeler
  .github/workflows/label.yml
Labels: ci, config

Create devskim.yml
  .github/workflows/devskim.yml
Labels: ci, config

Create docker-image.yml
  .github/workflows/docker-image.yml
Labels: ci, config

Kafka consumer to log audit events
  src/main/java/com/sorushi/invoice/management/audit/configuration/KafkaConsumerConfig.java
  src/main/java/com/sorushi/invoice/management/audit/listener/AuditKafkaListener.java
Labels: backend

Pagination and Query filter audit data
  src/main/java/com/sorushi/invoice/management/audit/constants/Constants.java
  src/main/java/com/sorushi/invoice/management/audit/controller/AuditController.java
  src/main/java/com/sorushi/invoice/management/audit/dto/AuditEventsQuery.java
  src/main/java/com/sorushi/invoice/management/audit/dto/AuditEventsResponse.java
  src/main/java/com/sorushi/invoice/management/audit/repository/CommitMetadataRepository.java
  src/main/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/AuditService.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
Labels: backend

Kafka event producer and consumer
  docker-compose.yaml
  src/main/java/com/sorushi/invoice/management/audit/controller/AuditController.java
  src/main/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListener.java
  src/main/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducer.java
  src/main/resources/application.yml
Labels: backend, config

Cron job to delete audit data
  src/main/java/com/sorushi/invoice/management/audit/AuditApplication.java
  src/main/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListener.java
  src/main/java/com/sorushi/invoice/management/audit/migration/AddTTLToCommitMetadataChangeUnit.java
  src/main/java/com/sorushi/invoice/management/audit/migration/AddTTLToJvSnapshotChangeUnit.java
  src/main/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupScheduler.java
  src/main/resources/application.yml
Labels: backend, config

Add Kafka container integration tests
  pom.xml
  src/test/java/com/sorushi/invoice/management/audit/exception/AuditServiceExceptionHandlerTest.java
  src/test/java/com/sorushi/invoice/management/audit/exception/ExceptionUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListenerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToCommitMetadataChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToJvSnapshotChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupSchedulerContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupSchedulerTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/AuditHelperUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests

Update pom.xml
  pom.xml
Labels: none

Fix junit
  src/main/resources/message_de.properties
  src/main/resources/message_en.properties
  src/main/resources/message_fr.properties
  src/test/java/com/sorushi/invoice/management/audit/exception/AuditServiceExceptionHandlerTest.java
  src/test/java/com/sorushi/invoice/management/audit/exception/ExceptionUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToCommitMetadataChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToJvSnapshotChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupSchedulerContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupSchedulerTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/AuditHelperUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests, config

refactor: use shared test container
  src/test/java/com/sorushi/invoice/management/audit/BaseContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/exception/AuditServiceExceptionHandlerTest.java
  src/test/java/com/sorushi/invoice/management/audit/exception/ExceptionUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListenerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToCommitMetadataChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToJvSnapshotChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupSchedulerTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/AuditHelperUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests

Fix Junit test cases
  src/main/java/com/sorushi/invoice/management/audit/exception/AuditServiceExceptionHandler.java
  src/test/java/com/sorushi/invoice/management/audit/BaseContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/exception/AuditServiceExceptionHandlerTest.java
  src/test/java/com/sorushi/invoice/management/audit/exception/ExceptionUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListenerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToCommitMetadataChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/migration/AddTTLToJvSnapshotChangeUnitTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/TtlCleanupSchedulerTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/AuditHelperUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests

Build pipeline
  .github/workflows/build.yml
Labels: ci, config

Update build.yml
  .github/workflows/build.yml
Labels: ci, config

AuditControllerTest
  src/test/java/com/sorushi/invoice/management/audit/controller/AuditControllerTest.java
Labels: backend, tests

Create maven.yml
  .github/workflows/maven.yml
Labels: ci, config

Update maven.yaml
  .github/workflows/maven.yml
Labels: ci, config

Update maven.yaml
  .github/workflows/maven.yml
Labels: ci, config

Remove maven.yml
  .github/workflows/maven.yml
Labels: ci, config

Add user-based audit retrieval
  src/main/java/com/sorushi/invoice/management/audit/constants/APIEndpoints.java
  src/main/java/com/sorushi/invoice/management/audit/controller/AuditController.java
  src/main/java/com/sorushi/invoice/management/audit/repository/CommitMetadataRepository.java
  src/main/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/AuditService.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
  src/test/java/com/sorushi/invoice/management/audit/controller/AuditControllerTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
Labels: backend, tests

API request to fetch audit data by user
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
Labels: backend

Add entity history API
  src/main/java/com/sorushi/invoice/management/audit/constants/APIEndpoints.java
  src/main/java/com/sorushi/invoice/management/audit/controller/AuditController.java
  src/main/java/com/sorushi/invoice/management/audit/dto/EntityHistoryRecord.java
  src/main/java/com/sorushi/invoice/management/audit/dto/EntityHistoryResponse.java
  src/main/java/com/sorushi/invoice/management/audit/service/AuditService.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
  src/test/java/com/sorushi/invoice/management/audit/controller/AuditControllerTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
Labels: backend, tests

API request to fetch history for entityType
  src/main/java/com/sorushi/invoice/management/audit/controller/AuditController.java
  src/main/java/com/sorushi/invoice/management/audit/dto/EntityHistoryRecord.java
  src/main/java/com/sorushi/invoice/management/audit/dto/EntityHistoryResponse.java
  src/main/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
  src/test/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImplTest.java
Labels: backend, tests

API request to fetch history for entityType
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
Labels: backend

Improve exception handling
  src/main/java/com/sorushi/invoice/management/audit/exception/ErrorCodes.java
  src/main/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListener.java
  src/main/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducer.java
  src/main/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/util/JaversUtil.java
  src/main/resources/message_de.properties
  src/main/resources/message_en.properties
  src/main/resources/message_fr.properties
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests, config

Improve exception handling with error codes
  src/main/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducer.java
  src/main/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/util/JaversUtil.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/repositoryImpl/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests

Use single author field with email
  src/main/java/com/sorushi/invoice/management/audit/dto/AuditEvent.java
  src/main/java/com/sorushi/invoice/management/audit/service/serviceImpl/AuditServiceImpl.java
  src/main/java/com/sorushi/invoice/management/audit/util/AuditHelperUtil.java
  src/test/java/com/sorushi/invoice/management/audit/controller/AuditControllerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListenerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/AuditHelperUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests

Fix code smell
  src/main/java/com/sorushi/invoice/management/audit/configuration/JaversTTLConfig.java
  src/main/java/com/sorushi/invoice/management/audit/controller/AuditController.java
  src/main/java/com/sorushi/invoice/management/audit/migration/MongockConfig.java
  src/main/java/com/sorushi/invoice/management/audit/repository/implementation/CommitMetadataRepositoryImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/implementation/AuditServiceImpl.java
  src/main/java/com/sorushi/invoice/management/audit/service/implementation/TtlCleanupScheduler.java
  src/main/java/com/sorushi/invoice/management/audit/util/JaversUtil.java
  src/test/java/com/sorushi/invoice/management/audit/controller/AuditControllerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/AuditKafkaContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/listener/AuditKafkaListenerTest.java
  src/test/java/com/sorushi/invoice/management/audit/kafka/producer/AuditEventProducerTest.java
  src/test/java/com/sorushi/invoice/management/audit/repository/implementation/CommitMetadataRepositoryImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/implementation/AuditServiceImplTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/implementation/TtlCleanupSchedulerContainerTest.java
  src/test/java/com/sorushi/invoice/management/audit/service/implementation/TtlCleanupSchedulerTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/AuditHelperUtilTest.java
  src/test/java/com/sorushi/invoice/management/audit/util/JaversUtilTest.java
Labels: backend, tests

Readme dile content
  README.md
Labels: docs

chore: consolidate pipelines into single CI workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: ci, config

Add JUnit test stage
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: ci, config

.github/labeler.yml:

# Automatically apply labels based on file path patterns in PRs

backend:
  - 'src/**/*.java'
  - 'src/**/*.kt'
  - 'src/**/*.go'

frontend:
  - 'web/**/*.{js,jsx,ts,tsx}'
  - 'public/**/*'
  - 'ui/**/*'

docs:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**/*'
  - '.github/actions/**/*'
  - 'ci/**/*'

tests:
  - '**/*Test.java'
  - '**/__tests__/**/*'
  - '**/*.spec.js'
  - '**/*.test.ts'

infra:
  - 'Dockerfile'
  - 'docker/**/*'
  - 'k8s/**/*'
  - 'terraform/**/*'

config:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.properties'
